{% set arSourse = result.PRINT_PROPS_FORM.USER_PROPS_N %}

{% if not arSourse is empty %}
    {#<pre>
        {{ dump(arSourse) }}
    </pre>#}
    <fieldset class="order-form__fieldset">
        <h2 class="order-form__fieldset-title">Ваши данные</h2>
        <div class="order-form__fieldset-tip">
            <h3>Приватность</h3>
            <p>
                Все введенные вами данные абсолютно конфиденциальны
                и необходимы только для работы сервиса.
            </p>
        </div>

        <div class="order-form__contacts">

            <div class="order-form__contacts-block">
                {% if result.USER_LOGIN|length and result.SHOW_EMAIL %}
                <h3 class="order-form__contacts-title">Email</h3>
                <h4>{{ result.USER_LOGIN }} {#(<span class="link"  onclick="document.order_form.CurrentStep.value='2'; document.order_form.USER_LOGOUT.value='Y'; document.order_form.BACK.value='Y'; document.order_form.submit();">изменить</span>)#}</h4>
                <input type="hidden" name="USER_LOGOUT" value="">
                {% else %}
                    <a href="/user/?backurl=/order/">Войдите</a>, если вы уже зарегистрированы
                {% endif %}
            </div>
            <div class="order-form__contacts-block">
                <h3 class="order-form__contacts-title">Адрес</h3>


                {% for arProperties in arSourse %}
                     {% if arProperties.CODE =='PERSONAL_CITY' or arProperties.CODE=='PERSONAL_STREET' %}

                        {% if arProperties.TYPE == 'LOCATION' %}

                            <label class="order-form__contacts-input">
                                <select class="select select_width_full select_search_false js-city-select" name="{{ arProperties.FIELD_NAME }}" id="" required="required" data-parsley-error-message="Укажите город">
                                    {% for arVariants in arProperties.VARIANTS %}

                                        <option value="{{ arVariants.ID }}" {% if arVariants.SELECTED == 'Y' %} selected="selected"{% endif %}>{{ arVariants.NAME }}</option>

                                    {% endfor %}
                                </select>
                                <!--<span class="order-form__contacts-input-tip">
                                    Сейчас мы работаем только в Санкт-Петербурге
                                </span>-->
                            </label>

                        {% endif %}

                        {% if arProperties.TYPE == 'TEXT' %}

                            <label class="order-form__contacts-input input-txt" data-placeholder="Улица, дом, корпус, номер квартиры">
                                <input class="input-txt__field" type="text" value="{{ arProperties.VALUE }}" name="{{ arProperties.FIELD_NAME }}" placeholder="Улица, дом, корпус, номер квартиры" required="required" data-parsley-error-class="input-txt_state_error" data-parsley-error-message="Поле не заполнено"/>
                            </label>

                        {% endif %}

                 {% endif %}

                {% endfor %}



            </div>
            <div class="order-form__contacts-block">
                <h3 class="order-form__contacts-title">Личные данные</h3>
                <span class="order-form__contacts-tip">Мы пришлем вам напоминание в день уборки</span>
                {% for arProperties in arSourse %}

                    {% if arProperties.CODE=='NAME' or arProperties.CODE=='PERSONAL_PHONE' %}

                        {% if arProperties.TYPE == 'TEXT' %}

                            <label class="order-form__contacts-input input-txt" data-placeholder="{{ arProperties.NAME }}">
                                <input class="input-txt__field {% if arProperties.CODE == 'PERSONAL_PHONE'%}js-phone-format{% endif %}" type="text" value="{{ arProperties.VALUE }}" name="{{ arProperties.FIELD_NAME }}" placeholder="{{ arProperties.NAME }}" required="required" data-parsley-error-class="input-txt_state_error" data-parsley-error-message="Поле не заполнено"/>
                            </label>

                        {% endif %}

                    {% endif %}

                {% endfor %}
            </div>
            {% if not result.SHOW_EMAIL %}
                <div class="order-form__contacts-block order-login">
                    <h3 class="order-form__contacts-title">Email и пароль</h3>
                    <span class="order-form__contacts-tip">Укажите ваш email и желаемый пароль для регистрации</span>
                    <label class="order-login__input input-txt {% if result.ERRORS.USER_LOGIN %}input-txt_state_error{% endif %}" data-placeholder="E-mail">
                        <input class="input-txt__field" type="email" name="USER_LOGIN" value="{{ result.USER_LOGIN }}" placeholder="E-mail" required="required" data-parsley-type="email" data-parsley-error-class="input-txt_state_error" data-parsley-error-message="Неправильно введен e-mail" />
                        {% if result.ERRORS.USER_LOGIN %}
                            <span class="input-txt__error">{{ result.ERRORS.USER_LOGIN  }}</span>
                        {% endif %}
                    </label>
                    <label class="order-login__input input-txt" data-placeholder="Пароль">
                        <input value="{{ result.USER_PASSWORD }}" class="input-txt__field" type="password" name="USER_PASSWORD" placeholder="Пароль"  required="required" data-parsley-minlength="6" data-parsley-error-class="input-txt_state_error" data-parsley-error-message="Минимальная длина пароля - 6 символов"/>
                    </label>
                </div>
                <input type="hidden" name="AUTH" value="Y" />
            {% endif %}
        </div>

    </fieldset>
    <button class="order-form__next btn btn_with_icons btn_responsive_true" id="save_contactinfo">
        <span class="btn__icon btn__icon_type_place"></span>Сохранить<span class="btn__icon btn__icon_right btn__icon_type_forward"></span>
    </button>

{% endif %}
