<section class="order">
    <div class="container">
        <h1 class="text-uppercase">Заказ услуг</h1>
        <div class="row">
            <div class="col-lg-10 order_steps">
                <ul class="nav nav-tabs nav-justified hidden-xs">
                    <li class="params"><a href="/order/basket/" class="v"><span data-step="1"></span>Параметры помещения</a></li>
                    <li class="date_time"><a href="/order/" class="v"><span data-step="2"></span>Дата и время</a></li>
                    <li class="your_data active"><a><span data-step="3"></span>Ваши данные</a></li>
                    <li class="order_check"><a><span data-step="4"></span>Проверка заказа</a></li>
                    <li class="paying"><a><span data-step="5"></span>Оплата</a></li>
                </ul>
                <div class="tab-content">
                    <div id="sms" class="tab-pane fade text-center in active">
                       <!-- <form class="form-inline" role="form">-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3>Введите код из смс-сообщения</h3>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-6 center-block">
                                    Мы отправили сообщение с кодом подтверждения на ваш номер телефона <b>{{ result.POST.ORDER_PROP_PERSONAL_PHONE }}</b>
                                    <button type="button" class="btn btn-link" onclick="document.order_form.CurrentStep.value='2'; document.order_form.BACK.value='Y'; document.order_form.submit();">изменить номер</button>
                                    <input required type="text" name="sms-pass"  name="confirm_code" placeholder="Введите код">
                                     {% if result.ERROR_MESSAGE|length > 0 %}
                                        <span class="input-txt__error">{{ result.ERROR_MESSAGE }}</span>
                                    {% endif %}
                                    {#% if result.CHECK_NUMBER == 'N' %}
                                        <span class="sms-confirm__resend js-sms-resend">
                                            <input class="sms-confirm__resend-input" type="checkbox" name="RESEND" value="on"/>

                                            <button class="sms-confirm__link" type="button" class="btn btn-link">отправить смс повторно</button>
                                        </span>
                                    {% endif %#}

                                    <input type="hidden" value="{{ result.POST.ORDER_PROP_NAME }}" name="ORDER_PROP_NAME">
                                    <input type="hidden" value="{{ result.POST.ORDER_PROP_PERSONAL_CITY }}" name="ORDER_PROP_PERSONAL_CITY">
                                    <input type="hidden" value="{{ result.POST.ORDER_PROP_PERSONAL_STREET }}" name="ORDER_PROP_PERSONAL_STREET">
                                    <input type="hidden" value="{{ result.POST.ORDER_PROP_PERSONAL_PHONE }}" name="ORDER_PROP_PERSONAL_PHONE">
                                    <input type="hidden" value="{{ result.POST.street }}" name="street">
                                    <input type="hidden" value="{{ result.POST.house }}" name="house">
                                    <input type="hidden" value="{{ result.POST.flat }}" name="flat">

                                </div>
                                <button type="submit" class="btn btn-default">Сохранить</button>
                            </div>
                     <!--   </form>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-2 visible-lg">
                <a data-toggle="modal" data-target="#places" class="faq">Где мы наводим чистоту</a><br>
                <a data-toggle="modal" data-target="#tools" class="faq">Чем мы наводим чистоту</a><br>
            </div>
        </div>
    </div>
</section>


<!-- ВСПЛЫВАШКА "Где мы наводим чистоту" -->
<div id="places" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-body">
                <h2>Что входит в уборку</h2>
                <div class="clean-content">
                    <h3 class="clean-content_title">Комната</h3>
                    <div class="clearfix">
                        <img class="clean-content_pic hidden-sm hidden-xs" src="/img/pic_bedroom_pointed.jpg">
                        <ol class="clean-content_list">
                            <li>Протираем поверхности и плинтус</li>
                            <li>Убираем мусор</li>
                            <li>Заправляем постель</li>
                            <li>Убираем пыль со светильников</li>
                            <li>Поправляем небольшие вещи</li>
                            <li>Пылесосим, моем пол</li>
                            <li>Чистим зеркала и стеклянные поверхности</li>
                        </ol>
                    </div>
                </div>
                <div class="clean-content">
                    <h3 class="clean-content_title">Кухня</h3>
                    <div class="clearfix">
                        <img class="clean-content_pic hidden-sm hidden-xs" src="/img/pic_kitchen_pointed.jpg">
                        <ol class="clean-content_list">
                            <li>Протираем стол и столешницу</li>
                            <li>Моем снаружи холодильник, духовой шкаф и плиту</li>
                            <li>Пылесосим, моем пол</li>
                            <li>Чистим раковину</li>
                            <li>Выносим мусор</li>
                            <li>Протираем поверхности и плинтус</li>
                        </ol>
                    </div>
                </div>
                <div class="clean-content">
                    <h3 class="clean-content_title">Ванная</h3>
                    <div class="clearfix">
                        <img class="clean-content_pic hidden-sm hidden-xs" src="/img/pic_bathroom_pointed.jpg">
                        <ol class="clean-content_list">
                            <li>Чистим зеркала и стеклянные поверхности</li>
                            <li>Выносим мусор</li>
                            <li>Пылесосим, моем пол</li>
                            <li>Моем и дезинфицируем раковину, ванну, душевую кабину, унитаз</li>
                            <li>Протираем поверхности</li>
                            <li>Убираем разводы снаружи шкафа и стен</li>
                        </ol>
                    </div>
                </div>
                <div class="clean-content">
                    <h3 class="clean-content_title">Коридор</h3>
                    <div class="clearfix">
                        <img class="clean-content_pic hidden-sm hidden-xs" src="/img/pic_corridor_pointed.jpg">
                        <ol class="clean-content_list">
                            <li>Убирамем пыль со светильников</li>
                            <li>Пылесосим, моем пол</li>
                            <li>Протираем поверхности и плинтус</li>
                            <li>Чистим зеркала и стеклянные поверхности</li>
                            <li>Расставляем обувь</li>
                            <li>Выносим мусор</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ВСПЛЫВАШКА "Чем мы наводим чистоту" -->
<div id="tools" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-body">
                <h2>Чем мы убираем</h2>
                <p>
                    Вы получите лучшую уборку в жизни. <br>
                    Взгляните на список того, что принесут с собой профессиональные клинеры GetTidy.
                </p>
                <h3>Что мы принесем с собой</h3>
                <div class="tools-item">
                    <div class="tools-item_pic pic_1 hidden-xs"></div>
                    <div class="tools-item_content">
                        <h4 class="tools-item_title">Экологические средства Attitude</h4>
                        <ul class="list-unstyled">
                            <li>— Средство для пола</li>
                            <li>— Спрей для ванных комнат</li>
                            <li>— Спрей для зеркал</li>
                            <li>— Универсальный спрей для поверхностей</li>
                        </ul>
                    </div>
                </div>
                <div class="tools-item">
                    <div class="tools-item_pic pic_2 hidden-xs"></div>
                    <div class="tools-item_content">
                        <h4 class="tools-item_title">Одноразовые расходные материалы</h4>
                        <ul class="list-unstyled">
                            <li>— Салфетки для пола</li>
                            <li>— Губки</li>
                            <li>— Салфетки из микрофибры</li>
                            <li>— Перчатки</li>
                            <li>— Мешки для мусора</li>
                        </ul>
                    </div>
                </div>
                <div class="tools-item">
                    <div class="tools-item_pic pic_3 hidden-xs"></div>
                    <div class="tools-item_content">
                        <h4 class="tools-item_title">Инвентарь</h4>
                        <ul class="list-unstyled">
                            <li>— Швабра для пола</li>
                            <li>— Щетка для мытья окон</li>
                            <li>— Чистящий ролик</li>
                        </ul>
                    </div>
                </div>
                <h3>Что вам необходимо иметь</h3>
                <div class="tools-item">
                    <div class="tools-item_pic pic_4 hidden-xs"></div>
                    <div class="tools-item_content">
                        <ul class="list-unstyled">
                            <li>— Пылесос</li>
                            <li>— Утюг</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<fieldset class="order-form__fieldset" style="display: none">
    <h2 class="order-form__fieldset-title">Подтверждение номера телефона</h2>
    <p>
        На ваш номер телефона <strong>{{ result.POST.ORDER_PROP_PERSONAL_PHONE }}</strong> (<strong class="link" data-step="32" onclick="document.order_form.CurrentStep.value='2'; document.order_form.BACK.value='Y'; document.order_form.submit();">изменить</strong>) было выслано смс с кодом подтверждения. Пожалуйста, введите код в поле ниже.
    </p>
    <div class="sms-confirm">
        <label class="sms-confirm__input input-txt {%  if result.ERROR_MESSAGE|length > 0 %}input-txt_state_error{% endif %}" data-placeholder="Код подтверждения">
            <input class="input-txt__field" type="text" name="confirm_code"  placeholder="Код подтверждения" />
            {% if result.ERROR_MESSAGE|length > 0 %}
                <span class="input-txt__error">{{ result.ERROR_MESSAGE }}</span>
            {% endif %}
        </label>
        {% if result.CHECK_NUMBER == 'N' %}
        <span class="sms-confirm__resend js-sms-resend">
            <input class="sms-confirm__resend-input" type="checkbox" name="RESEND"/>
            <span class="sms-confirm__link">Получить смс повторно</span>
            <input type="hidden" name="PERSONAL_PHONE" value="{{ result.POST.ORDER_PROP_PERSONAL_PHONE}}" />
        </span>
        {% endif %}
    </div>
    <div class="order-form__fieldset-tip">
        <h3>Приватность</h3>
        <p>
            Все введенные вами данные абсолютно конфиденциальны
            и необходимы только для работы сервиса.
        </p>
    </div>
</fieldset>
<button class="order-form__next btn btn_with_icons btn_responsive_true" name="con" id="save_number">
    <span class="btn__icon btn__icon_type_save"></span>Сохранить<span class="btn__icon btn__icon_right btn__icon_type_forward"></span>
</button>
<style>
    #save_number{display:none;};
</style>