---
title: Главная
---

<section class="intro">
  <span class="intro__logo">
    <span class="intro__logo-title hide-text">Get Tidy</span>
    <span class="intro__logo-txt">
      Онлайн-заказ качественной уборки <br/> квартир в Санкт-Петербурге
    </span>
  </span>
  <span class="btn btn_responsive_true js-scroll" data-target="#mail-form">Оставить заявку</span>
</section>

<section class="advantages">
  <div class="container">
    <div class="grid">
      <div class="grid__item desk-one-quarter">
        <div class="advantages-item">
          <span class="advantages-item__icon">
            <i class="icon icon_warranty"></i>
          </span>
          <span class="advantages-item__title">Гарантия чистоты</span>
          <p class="advantages-item__desc">
            100% гарантия чистоты
            с усовершенствованным процессом уборки
          </p>
        </div>
      </div>
      <div class="grid__item desk-one-quarter">
        <div class="advantages-item">
          <span class="advantages-item__icon">
            <i class="icon icon_insurance"></i>
          </span>
          <span class="advantages-item__title">Страховка на миллион</span>
          <p class="advantages-item__desc">
            Самый высокий уровень безопасности (страховка уборки на миллион)
          </p>
        </div>
      </div>
      <div class="grid__item desk-one-quarter">
        <div class="advantages-item">
          <span class="advantages-item__icon">
            <i class="icon icon_price"></i>
          </span>
          <span class="advantages-item__title">Прозрачные цены</span>
          <p class="advantages-item__desc">
            Вы всегда точно знаете,
            за что заплатили
          </p>
        </div>
      </div>
      <div class="grid__item desk-one-quarter">
        <div class="advantages-item">
          <span class="advantages-item__icon">
            <i class="icon icon_order"></i>
          </span>
          <span class="advantages-item__title">Простой заказ</span>
          <p class="advantages-item__desc">
            Простой заказ. Всего три шага, и вы заказали уборку!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-section main-section_type_what">
  <h2 class="main-section__title">Что мы уберём</h2>
  <div class="type-slider">
    <nav class="type-slider__nav">
      <span class="type-slider__nav-item type-slider__nav-item_active">Комната</span>
      <span class="type-slider__nav-item">Кухня</span>
      <span class="type-slider__nav-item">Коридор</span>
      <span class="type-slider__nav-item">Ванная</span>
    </nav>
    <div class="type-slider__content">
      <div class="type-slider__item type-slider__item_active" style="background-image: url('assets/files/type-slider/pic-1.jpg')">
        <ul class="type-features">
          <li class="type-features__item">
            <span class="type-features__item-number">1</span>
            <span class="type-features__item-title">Протираем поверхности</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">2</span>
            <span class="type-features__item-title">Поправляем небольшие вещи</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">3</span>
            <span class="type-features__item-title">Пылесосим ковры</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">4</span>
            <span class="type-features__item-title">Моем пол</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">5</span>
            <span class="type-features__item-title">Протираем плинтуса</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">6</span>
            <span class="type-features__item-title">Убираем пыль со светильников</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">7</span>
            <span class="type-features__item-title">Заправляем постель</span>
          </li>
        </ul>
        <ul class="type-features type-features_type_desk">
          <li class="type-features__item" style="bottom: 125px; right: 440px">
            <span class="type-features__item-number">1</span>
            <span class="type-features__item-title">Протираем поверхности</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Протираем поверхности</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 280px; left: 380px">
            <span class="type-features__item-number">2</span>
            <span class="type-features__item-title">Поправляем небольшие вещи</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Поправляем небольшие вещи</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 85px; left: 210px">
            <span class="type-features__item-number">3</span>
            <span class="type-features__item-title">Пылесосим ковры</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Пылесосим ковры</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 25px; left: 385px">
            <span class="type-features__item-number">4</span>
            <span class="type-features__item-title">Моем пол</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Моем пол</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 185px; left: 300px">
            <span class="type-features__item-number">5</span>
            <span class="type-features__item-title">Протираем плинтуса </span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Протираем плинтуса </span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="top: 105px;left: 230px;">
            <span class="type-features__item-number">6</span>
            <span class="type-features__item-title">Убираем пыль со светильников</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Убираем пыль со светильников</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="top: 245px;right: 270px;">
            <span class="type-features__item-number">7</span>
            <span class="type-features__item-title">Заправляем постель</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Заправляем постель</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="type-slider__item" style="background-image: url('assets/files/type-slider/kitchen.png')">
        <ul class="type-features">
          <li class="type-features__item">
            <span class="type-features__item-number">1</span>
            <span class="type-features__item-title">Протираем поверхности</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">2</span>
            <span class="type-features__item-title">Моем посуду</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">3</span>
            <span class="type-features__item-title">Чистим раковину</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">4</span>
            <span class="type-features__item-title">Чистим плиту</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">5</span>
            <span class="type-features__item-title">Убираем столешницу</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">6</span>
            <span class="type-features__item-title">Протираем стол</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">7</span>
            <span class="type-features__item-title">Моем пол и плинтуса</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">8</span>
            <span class="type-features__item-title">Убираем пыль со светильников</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">9</span>
            <span class="type-features__item-title">Выносим мусор</span>
          </li>
        </ul>
        <ul class="type-features type-features_type_desk">
          <li class="type-features__item" style="bottom: 255px; left: 120px">
            <span class="type-features__item-number">1</span>
            <span class="type-features__item-title">Протираем поверхности</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Протираем поверхности</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 330px; right: 180px">
            <span class="type-features__item-number">2</span>
            <span class="type-features__item-title">Моем посуду</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Моем посуду</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="top: 205px; right: 50px">
            <span class="type-features__item-number">3</span>
            <span class="type-features__item-title">Чистим раковину</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Чистим раковину</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="top: 205px; right: 425px">
            <span class="type-features__item-number">4</span>
            <span class="type-features__item-title">Чистим плиту</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Чистим плиту</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 295px; right: 250px">
            <span class="type-features__item-number">5</span>
            <span class="type-features__item-title">Убираем столешницу</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Убираем столешницу</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 205px; right: 150px">
            <span class="type-features__item-number">6</span>
            <span class="type-features__item-title">Протираем стол</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Протираем стол</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 105px; right: 450px">
            <span class="type-features__item-number">7</span>
            <span class="type-features__item-title">Моем пол и плинтуса</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Моем пол и плинтуса</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 425px; right: 50px">
            <span class="type-features__item-number">8</span>
            <span class="type-features__item-title">Убираем пыль со светильников</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Убираем пыль со светильников</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 235px; right: 200px">
            <span class="type-features__item-number">9</span>
            <span class="type-features__item-title">Выносим мусор</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Выносим мусор</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="type-slider__item" style="background-image: url('assets/files/type-slider/corridor.png')">
        <ul class="type-features">
          <li class="type-features__item">
            <span class="type-features__item-number">1</span>
            <span class="type-features__item-title">Протираем поверхности</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">2</span>
            <span class="type-features__item-title">Зеркала</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">3</span>
            <span class="type-features__item-title">Пылесосим, моем пол</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">4</span>
            <span class="type-features__item-title">Протираем плинтуса</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">5</span>
            <span class="type-features__item-title">Убираем пыль со светильников</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">6</span>
            <span class="type-features__item-title">Поправляем обувь</span>
          </li>
        </ul>
        <ul class="type-features type-features_type_desk">
          <li class="type-features__item" style="bottom: 45px; left: 140px">
            <span class="type-features__item-number">1</span>
            <span class="type-features__item-title">Протираем поверхности</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Протираем поверхности</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="top: 155px; left: 210px">
            <span class="type-features__item-number">2</span>
            <span class="type-features__item-title">Зеркала</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Зеркала</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 25px; left: 450px">
            <span class="type-features__item-number">3</span>
            <span class="type-features__item-title">Пылесосим, моем пол</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Пылесосим, моем пол</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 75px; left: 645px">
            <span class="type-features__item-number">4</span>
            <span class="type-features__item-title">Протираем плинтуса</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Протираем плинтуса</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 145px; right: 170px">
            <span class="type-features__item-number">5</span>
            <span class="type-features__item-title">Убираем пыль со светильников</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Убираем пыль со светильников</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 45px; left: 320px">
            <span class="type-features__item-number">6</span>
            <span class="type-features__item-title">Поправляем обувь</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Поправляем обувь</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="type-slider__item" style="background-image: url('assets/files/type-slider/bathroom.png')">
        <ul class="type-features">
          <li class="type-features__item">
            <span class="type-features__item-number">1</span>
            <span class="type-features__item-title">Протираем зеркала</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">2</span>
            <span class="type-features__item-title">Убираем разводы на стенах и сантехнике</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">3</span>
            <span class="type-features__item-title">Моем раковину</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">4</span>
            <span class="type-features__item-title">Моем ванну или душевую кабину</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">5</span>
            <span class="type-features__item-title">Чистим унитаз</span>
          </li>
          <li class="type-features__item">
            <span class="type-features__item-number">6</span>
            <span class="type-features__item-title">Моем полы</span>
          </li>
        </ul>
        <ul class="type-features type-features_type_desk">
          <li class="type-features__item" style="top: 35px; left: 520px">
            <span class="type-features__item-number">1</span>
            <span class="type-features__item-title">Протираем зеркала</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Протираем зеркала</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="top: 50px; right: 160px">
            <span class="type-features__item-number">2</span>
            <span class="type-features__item-title">Убираем разводы на стенах и сантехнике</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Убираем разводы на стенах и сантехнике</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="top: 235px; left: 370px">
            <span class="type-features__item-number">3</span>
            <span class="type-features__item-title">Моем раковину</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Моем раковину</span>

              </div>
            </div>
          </li>
          <li class="type-features__item" style="top: 445px; left: 345px">
            <span class="type-features__item-number">4</span>
            <span class="type-features__item-title">Моем ванну или душевую кабину</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Моем ванну или душевую кабину</span>

              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 150px; right: 170px">
            <span class="type-features__item-number">5</span>
            <span class="type-features__item-title">Чистим унитаз</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Чистим унитаз</span>
              </div>
            </div>
          </li>
          <li class="type-features__item" style="bottom: 55px; right: 370px">
            <span class="type-features__item-number">5</span>
            <span class="type-features__item-title">Моем полы</span>
            <div class="type-features__item-desc feature">
              <div class="feature__desc">
                <span class="feature__title">Моем полы</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <footer class="type-slider__footer">
      <p class="type-slider__footer-title">
        И все это всего
        за 700 <span class="rouble">Р</span> в час!
      </p>
      <p class="type-slider__footer-tip">
        Минимальное время уборки — 3 часа
      </p>
    </footer>
  </div>
</section>

<section class="main-section main-section_type_how">
  <h2 class="main-section__title">Чем мы чистим</h2>
  <div class="cleaning-tools">
    <p class="cleaning-tools__desc">
      Для уборки вашей квартиры мы будем использовать только экологически чистые средства высшего качества!

    </p>
  </div>
</section>

<section class="main-section main-section_type_who">
  <h2 class="main-section__title">Кто уберёт</h2>
  <div class="container">
    <div class="grid">
      <div class="grid__item lap-one-third desk-one-third">
        <div class="cleaner">
          <span class="cleaner__pic">
            <img src="{{assets}}/files/cleaners/pic-1.jpg" alt=""/>
          </span>
          <span class="cleaner__name">Ангелина</span>
          <p class="cleaner__inf">
            Люблю убираться под хорошую музыку. Иногда пританцовываю. Уборка
            и музыка — неотделимы.
          </p>
        </div>
      </div>
      <div class="grid__item lap-one-third desk-one-third">
        <div class="cleaner">
          <span class="cleaner__pic">
            <img src="{{assets}}/files/cleaners/pic-2.jpg" alt=""/>
          </span>
          <span class="cleaner__name">Анна</span>
          <p class="cleaner__inf">
            Все время пытаюсь оттереть пятна и избавиться от пыли, где бы я ни находилась, только тогда чувствую себя уютно.
          </p>
        </div>
      </div>
      <div class="grid__item lap-one-third desk-one-third">
        <div class="cleaner">
          <span class="cleaner__pic">
            <img src="{{assets}}/files/cleaners/pic-3.jpg" alt=""/>
          </span>
          <span class="cleaner__name">Никита</span>
          <p class="cleaner__inf">
            Какой мужчина не любит чистоту. Натру паркет до блеска, уничтожу любые бактерии. Я — как мистер-мускул.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-section main-section_type_order">
  <h2 class="main-section__title">Как заказать</h2>
  <div class="order-slider">
    <div class="order-slider__content">
      <div class="order-slider__frame order-slider__frame_type_desktop">
        <div class="order-slider__frame-content"></div>
      </div>
      <div class="order-slider__frame order-slider__frame_type_phone">
        <div class="order-slider__frame-content"></div>
      </div>
    </div>
    <div class="order-slider__indicator">
      <span class="order-slider__indicator-item hide-text">1</span>
      <span class="order-slider__indicator-item hide-text">2</span>
      <span class="order-slider__indicator-item hide-text">3</span>
      <span class="order-slider__indicator-item hide-text">4</span>
      <span class="order-slider__indicator-item hide-text">5</span>
    </div>
    <p class="order-slider__title">

    </p>
    <span class="order-slider__nav order-slider__nav_prev hide-text" title="Предыдущий слайд">Предыдущий слайд</span>
    <span class="order-slider__nav order-slider__nav_next hide-text" title="Следующий слайд">Следующий слайд</span>
    <ul class="order-slider__list">
      <li class="order-slider__item" data-smallpic="{{assets}}/images/order-slider/iphone_screen_1.png" data-bigpic="{{assets}}/images/order-slider/macbook_screen_1.jpg" data-title="1. Укажите параметры своей квартиры"></li>
      <li class="order-slider__item" data-smallpic="{{assets}}/images/order-slider/iphone_screen_2.png" data-bigpic="{{assets}}/images/order-slider/macbook_screen_2.jpg" data-title="2. Выберите дату уборки"></li>
      <li class="order-slider__item" data-smallpic="{{assets}}/images/order-slider/iphone_screen_3.png" data-bigpic="{{assets}}/images/order-slider/macbook_screen_3.jpg" data-title="3. Оставьте свои контакты для связи"></li>
      <li class="order-slider__item" data-smallpic="{{assets}}/images/order-slider/iphone_screen_4.png" data-bigpic="{{assets}}/images/order-slider/macbook_screen_4.jpg" data-title="4. Оплатите заказ удобным вам способом"></li>
      <li class="order-slider__item" data-smallpic="{{assets}}/images/order-slider/iphone_screen_5.png" data-bigpic="{{assets}}/images/order-slider/macbook_screen_5.jpg" data-title="5. Просмотрите данные о клинере, который к вами приедет"></li>
    </ul>
  </div>
</section>

<section class="main-section main-section_type_form" id="mail-form">

  <form class="form-section">
    <h2 class="main-section__title">Хотите уборку?</h2>
    <div class="form-section__content">
      <p class="form-section__txt">
        Тогда оставьте свой e-mail и протестируйте сервис одним из первых!
      </p>
      <label class="form-section__input input-txt input-txt_bg_grey input-txt_state_error" data-placeholder="E-mail">
        <input type="email" name="EMAIL" value="" class="input-txt__field" placeholder="E-mail">
        <span class="input-txt__error">Ошибка: неверный e-mail!</span>
      </label>
      <input type="hidden" name="subscribe" class="btn " value="Y">
      <button class="btn btn_size_big" onclick="$(this).closest('form').submit();">Отправить</button>
    </div>
  </form>
  <!-- !!! При успешной отправке формы (вместо верхнего блока form-section) -->
  <!--<form class="form-section">
    <h2 class="main-section__title">Спасибо!</h2>
    <div class="form-section__content">
      <p class="form-section__txt">
        Мы пришлем вам приглашение, как только откроется наш сервис.
      </p>
    </div>
  </form>-->
  <!-- !!! При успешной отправке формы end -->
</section>

<section class="main-section main-section_type_footer">
  <div class="landing-footer">
    <div class="landing-footer__links txt-center">
        <a class="btn btn_type_insta" href="http://instagram.com/gettidy" target="_blank">
            <span class="btn__icon btn__icon_type_insta"></span><span class="btn__title">Instagram</span>
        </a>
        <a class="btn btn_type_vk" href="https://vk.com/gettidy" target="_blank">
            <span class="btn__icon btn__icon_type_vk"></span><span class="btn__title">Вконтакте</span>
        </a>
        <a class="btn btn_type_fb" href="https://www.facebook.com/gettidy" target="_blank">
            <span class="btn__icon btn__icon_type_fb"></span><span class="btn__title">Facebook</span>
        </a>
    </div>
    <div class="txt-center">
      <img src="{{assets}}/images/content/cards.png" alt="Способы оплаты"/>
    </div>
    <div class="txt-center">
      <span class="copyright">Сделано в <a class="copyright__link" target="_blank" href="http://breadhead.ru/">Breadhead</a></span>
    </div>
  </div>
</section>